.u-counter {
  &__container {
    counter-reset: counter 0;
  }

  &__element {
    --counter-circle-diameter: 3em;
    --counter-line-length: calc(
      var(--space-region) - var(--counter-circle-diameter) / 2
    );

    counter-increment: counter;
    text-align: center;
    position: relative;
    margin-block: calc(
        var(--counter-line-length) + var(--counter-circle-diameter) / 2
      )
      var(--space-region);
    margin-block-end: 0;

    /* Use the counter as a pseudo-element before the list item */
    &::before {
      content: counter(counter, decimal-leading-zero);
      display: inline-block;
      border: 1px solid #dddde3;
      border-radius: 50%;
      font-size: var(--font-size-base);
      inline-size: var(--counter-circle-diameter);
      block-size: var(--counter-circle-diameter);
      line-height: var(--counter-circle-diameter);
      font-weight: var(--font-weight-black);
      background-color: var(--color-white);
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    /* Create a vertical line before the circle */
    &::after {
      content: "";
      display: inline-block;
      inline-size: 1px;
      block-size: var(--counter-line-length);
      background: #dddde3;
      position: absolute;
      inset-block-start: calc(
        -1 * var(--counter-circle-diameter) / 2 - var(--counter-line-length)
      );
      inset-inline-start: 50%;
      transform: translateX(-50%);
    }
  }
}
