---
// Imports
import LayoutDefault from '../layouts/LayoutDefault.astro';

// Static Data
const metaTitle = "404";
const metaDescription = "Page Not Found - The requested page could not be found on the Modern Art Gallery website. Explore our collections, learn about artists, and find inspiration elsewhere on our site.";
---

<LayoutDefault {metaTitle} {metaDescription}>
	<section class="l-wrapper">
		<h1>404 page</h1>
	</section>
</LayoutDefault>