---
// Imports
import LayoutDefault from '../layouts/LayoutDefault.astro';
import CompSocialLinks from '../components/CompSocialLinks.astro';
import CompButton from '../components/CompButton.astro';

// Static Data
const metaTitle = "Contact Me";
const metaDescription = "XXX";
---

<LayoutDefault {metaTitle} {metaDescription}>
	<section class="touch | l-wrapper">
		<div class="touch__inner | l-columns | u-border--bs">
			<div>
				<h2>Get in Touch</h2>
			</div>
			<div class="l-flow">
				<p>I’d love to hear about what you’re working on and how I could help. I’m currently looking for a new role and am open to a wide range of opportunities. My preference would be to find a position in a company in London. But I’m also happy to hear about opportunites that don’t fit that description. I’m a hard-working and positive person who will always approach each task with a sense of purpose and attention to detail. Please do feel free to check out my online profiles below and get in touch using the form.</p>
				<CompSocialLinks />
			</div>
		</div>
	</section>
	<section class="contact | l-wrapper">
		<div class="contact__inner | l-columns | u-border--bs">
			<div>
				<h2>Contact Me</h2>
			</div>
			<div class="contact__form | l-stack">
				<div class="l-stack">
					<label for="name">Name</label>
					<input type="text" id="name" name="name" required placeholder="Jane Appleseed"/>
				</div>
				<div class="l-stack">
					<label for="email">Email Address</label>
					<input type="email" id="email" name="email" required placeholder="email@example.com"/>
				</div>
				<div class="l-stack">
					<label for="message">Message</label>
					<textarea id="message" name="message" required placeholder="How can I help?"></textarea>
				</div>
				<CompButton text="Submit" />
			</div>
		</div>
	</section>
</LayoutDefault>

<style lang="scss">
	@use "../styles/20-mixins/media-query" as *;
  @use "../styles/10-functions/theme-accessor" as *;

	.touch, 
	.contact {
		--space-columns: 0;
		--space-region: 0 var(--space-2xl-3xl);

		&__inner {
			padding-block: var(--space-m);
		}

		p {
			padding-block-start: 1em;
		}

		:global(ul) {
			--space-flow: 1.5em;
			color: get(color, grayish-dark-blue);
		}
	}

	.contact {
		--space-columns: var(--space-m);
		padding-block-end: var(--space-2xl-3xl);

		&__inner {
			padding-block-end: 0;
		}
	}

	.contact__form {
		--space-stack: var(--space-m);

		& > .l-stack {
			inline-size: 100%;
		}

		.l-stack > * {
			--space-stack: var(--space-xs);
		}
	}

  @include media-query(from, desktop) {
		.touch,
		.contact {
			
			&__inner {
				--space-columns: var(--space-gutter);

				& > :first-child {
					--columns-item-span: calc((var(--columns) / 5) * 2);
				}

				& > :last-child {
					--columns-item-span: calc((var(--columns) / 5) * 3);
				}
			}

			p {
				max-inline-size: 68ch;
				padding-block-start: 0;
			}
		}
	}
</style>