---
// Imports
import LayoutDefault from '../layouts/LayoutDefault.astro';

// Static Data
const metaTitle = "Contact Me";
const metaDescription = "XXX";
---

<LayoutDefault {metaTitle} {metaDescription}>
	<section class="l-wrapper">
		<h1>contact page</h1>
	</section>
</LayoutDefault>