---
// Imports
import LayoutLanding from '../layouts/LayoutLanding.astro';

// Static Data
const metaTitle = "Home";
const metaDescription = "Explore the Modern Art Gallery, a sanctuary of inspiration and creativity. Discover our diverse collections, learn about the artists' creative processes, and find new insights. Open daily, free for all. Visit us at 99 King Street, Newport, USA.";
---

<LayoutLanding {metaTitle} {metaDescription}>
	<section class="l-wrapper">
		<h1>index page</h1>
	</section>
</LayoutLanding>