---
// Imports
import CompSvgSheet from "./CompSvgSheet.astro";
import { SOCIAL_MEDIA } from "../consts";

// Static Data
const iconViewboxMap = {
  GitHub: "0 0 25 24",
  Twitter: "0 0 24 19.5",
  LinkedIn: "0 0 24 24",
};
---

<ul role="list" class="social-links | l-cluster">
  {SOCIAL_MEDIA.map(item => (
    <li>
      <a href={item.url}>
        <svg class="icon" fill="currentColor" viewBox={iconViewboxMap[item.label]}>
          <use xlink:href={`#${item.label.toLowerCase()}`}></use>
        </svg>
        <span class="u-vh">{item.label}</span>
      </a>
    </li>
  ))}
</ul>
<CompSvgSheet />

<style lang="scss">
  li, 
  a {
    display: inline-flex;
  }

  .icon {
    block-size: .75lh;
  }
</style>