---
// Imports
import CompNavigation from "./CompNavigation.astro";
import CompLogoLink from "./CompLogoLink.astro";
import CompSocialLinks from "./CompSocialLinks.astro";
---

<footer class="site-footer">
  <div class="l-wrapper l-region">
    <div class="l-repel">
      <div class="l-cluster">
        <CompLogoLink variant="secondary" />
        <CompNavigation label="Secondary Navigation"/>
      </div>
      <CompSocialLinks />
    </div>
  </div>
</footer>