$colors: (
  "title": "Colors",
  "description":
    "Hex color codes that can be shared, cross-platform. They can be converted at point of usage, such as HSL for web or CMYK for print.",
  "items": (
    (
      "name": "Slightly Desaturated Cyan",
      "value": #5fb4a2,
    ),
    (
      "name": "Dark Blue",
      "value": #203a4c,
    ),
    (
      "name": "Grayish Dark Blue",
      "value": #33323d,
    ),
    (
      "name": "Very Light Grey",
      "value": #fafafa,
    ),
    (
      "name": "Light Grey",
      "value": #eaeaeb,
    ),
    (
      "name": "Bright Red",
      "value": #f43030,
    ),
  ),
);
