$font-family: (
  "title": "Font Family",
  "description":
    "Each array of fonts creates a priority-based order. The first font in the array should be the ideal font, followed by sensible, web-safe fallbacks",
  "items": (
    (
      "name": "Base",
      "value": (
        // "Public Sans",
        "sans-serif",
      ),
    ),
    (
      "name": "Display",
      "value": (
        "Ibarra Real Nova",
        "serif",
      ),
    ),
  ),
);
