$font-weight: (
  "title": "Font Weight",
  "description": "Helper classes and custom properties for common font weights",
  "items": (
    // (
    //   "name": "Thin",
    //   "value": 100,
    // ),
    // (
    //   "name": "Extra Light",
    //   "value": 200,
    // ),
    // (
    //   "name": "Light",
    //   "value": 300,
    // ),
    (
        "name": "Base",
        "value": 400,
      ),
    // (
    //   "name": "Medium",
    //   "value": 500,
    // ),
    // (
    //   "name": "Semi Bold",
    //   "value": 600,
    // ),
    (
        "name": "Bold",
        "value": 700,
      ),
    // (
    //   "name": "Extra Bold",
    //   "value": 800,
    // ),
    // (
    //   "name": "Black",
    //   "value": 900,
    // ),,
  ),
);
