$spacing: (
  "title": "Spacing",
  "description":
    "Consistent spacing sizes, based on a ratio, with min and max sizes. This allows you to set spacing based on the context size. For example, min for mobile and max for desktop browsers.",
  "meta": (
    "scaleGenerator":
      "https://utopia.fyi/space/calculator/?c=320,18,1.25,1280,20,1.333,5,2,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l&g=s,l,xl,12",
  ),
  "items": (
    //  space values - individual
    (
        "name": "3XS",
        "min": 5,
        "max": 5,
      ),
    (
      "name": "2XS",
      "min": 9,
      "max": 10,
    ),
    (
      "name": "XS",
      "min": 14,
      "max": 15,
    ),
    (
      "name": "S",
      "min": 18,
      "max": 20,
    ),
    (
      "name": "M",
      "min": 27,
      "max": 30,
    ),
    (
      "name": "L",
      "min": 36,
      "max": 40,
    ),
    (
      "name": "XL",
      "min": 54,
      "max": 60,
    ),
    (
      "name": "2XL",
      "min": 72,
      "max": 80,
    ),
    (
      "name": "3XL",
      "min": 108,
      "max": 120,
    ),
    // space value pairs - single steps
    (
        "name": "S - M",
        "min": 18,
        "max": 30,
      ),
    (
      "name": "M - L",
      "min": 27,
      "max": 40,
    ),
    (
      "name": "L - XL",
      "min": 40,
      "max": 60,
    ),
    // space value pairs - custom steps,
    (
        "name": "S - L",
        "min": 18,
        "max": 40,
      ),
  ),
);
