@use "../10-functions/theme-accessor" as *;

.button {
  --button-x-padding: 1.5em;
  --button-y-padding: 1.25em;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0ch;
  position: relative;
  padding: var(--button-padding, 0);
  cursor: pointer;
  text-decoration: none;
  border: var(--button-border, solid var(--border-width, medium) transparent);
  border-radius: var(--button-radius, 0em);
  font-size: inherit;
  font-family: get(font-family, display);
  // font-weight: get(font-weight, semi-bold);
  line-height: var(--line-height-flat);
  letter-spacing: get(letter-spacing, extra-loose);
  text-transform: uppercase;
  background-color: var(--button-bg, transparent);
  // color: var(--button-text, get(color, white));

  & span {
    // background-color: get(background-color, almost-black);
    padding: var(--button-y-padding) var(--button-x-padding);
    padding-inline-end: calc(var(--button-x-padding) * 3.5);
  }

  & svg {
    position: absolute;
    // background-color: get(background-color, gold);
    inset-inline-end: 0;
    block-size: 100%;
    padding: var(--button-y-padding) var(--button-x-padding);
  }

  &:hover,
  &:focus-visible {
    & span {
      // background-color: get(background-color, gold);
    }

    & svg {
      // background-color: get(background-color, almost-black);
    }
  }

  /* Default variant is primary, so no additional styles needed for it */
  /* VARIANTS */
  &[data-button-variant="secondary"] {
    & span {
      padding-inline-end: var(--button-x-padding);
      padding-inline-start: calc(var(--button-x-padding) * 3.5);
    }

    & svg {
      position: absolute;
      inset-inline-start: 0;
    }
  }
}
