---
// Imports
import BaseLayout from "./BaseLayout.astro"
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';

// Component Props
const { metaTitle, metaDescription } = Astro.props;
---

<BaseLayout {metaTitle} {metaDescription}>
  <SiteHeader />
  <main id="main">
    <slot />
  </main>
  <SiteFooter/>
</BaseLayout>

<style lang="scss">
  @use "../styles/10-functions/theme-accessor" as *;
  @use "../styles/20-mixins/media-query" as *;

  main {
    padding-block-start: var(--space-gutter);
  }
  
  @include media-query(up-to, tablet) {
    main {
      padding-block-start: 0;
    }
  }
</style>